<div class="description">
    <h1>Le 26 septembre 1985,</h1>
    <p> Coluche lançait sur Europe 1 un appel à la générosité pour aider ceux qui n'arrivaient pas à manger. L'idée des Restos du cœur était née mais l'humoriste était loin de se douter de l'ampleur qu'allait prendre son initiative. La 38e campagne débute ce mardi 22 novembre 2022.</p>
</div>

