<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="/css/main.css">

    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}


    <title>{{title}}</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/theManBehind">The Man Behind</a>
        <a href="/achievement">Achievement</a>
    </nav>

    <section id="section-image">
        {{#each image}}
        <img src="{{this}}.jpeg" alt="Portrait">
        {{/each}}

        {{{body}}}
    </section>

</body>
</html>