<div class="description">
    <h1>1981,</h1>
    <p>"Moi, pour l'instant, ce que j'ai, c'est un cahier de charges, affirme le comique : les 1,5 million de chômeurs, comme les personnes gay, les personnes noir, les faiseurs de patins à roulettes, les appelés du contingent et tout ça... sont des gens qui, pour l'instant, sont rejetés par la société, qui ne valent rien pour les politiques, même pour les mecs de gauche".</p>
</div>

